<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="./util/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/arena.css"/>
		<title>
			Stroom | Home
		</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<div class = "topper">
			<center>Home</center>
		</div>
		<br><br>
		<center>
		<div style = "height:70vh;position:relative;bottom:3vw;">
			<div id = "center">
				<br>
				<a href  = "/create/room" style = "color:white;">
						<div class = "buttons">
							Create a Room
						</div>
				</a>
				<a href  = "/create/random" style = "color:white;">
					<div class = "buttons">
						Join Random
					</div>
				</a>
			</div>
		</div>
		</center>
	</body>
</html>