<html>
	<head>
		<title>
			Stroom | Home
		</title>
	</head>
	<body>
		<div>
			<center>Home</center>
		</div>
		<br><br>
		<center>
				<br>
				<button onclick="location.href = '/create/room';">Create a Room</button>
				<button onclick="location.href = '/create/random';">Join random Room</button>	
		</div>
		</center>
	</body>
</html>