<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="./util/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/arena.css"/>
		<title>
			Stroom | Home
		</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<div class = "topper">
			<center>Home</center>
		</div>
		<br><br>
		<center>
				<br>
				<button onclick="location.href = '/create/room';">Create a Room</button>
				<button onclick="location.href = '/create/random';">Join random Room</button>	
		</div>
		</center>
	</body>
</html>