<body>
	<center><div id="sitetitle"> Stroom </div></center><br>
	<center><div class="button"><a href="/create/room">Create a Room</a></div></center><br>
	<center><div class="button"><a href="/join/room" class="myButton">Join a Room</a></div></center>
</body>