<script type="text/javascript">	
var socket = io();
socket.on('roomAll', function(msg){
	console.log("joiner_msg"+msg);
	var ul = document.getElementById("roomslink");
    var li = document.createElement("li");
    li.appendChild(document.createTextNode(msg));
    ul.appendChild(li);
});
</script>
<p>Current Active room</p>
<ul id="roomslink"></ul>