<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" media="screen" href="/css/styleCommon.css">
  <link rel="shortcut icon" type="image/png" href="/util/images/favicon.png">
  <meta charset="UTF-8">
  <title>CHESS | SDSLabs</title>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" href="//sdslabs.co.in/home/assets/build/stylesheets/topbar.min.css">
  <script src="//sdslabs.co.in/home/assets/build/scripts/topbar.min.js"></script>
  <script src="/js/analytics.js"></script>
</head>
<body>
<div class="panel" style="display: block;">
    <%-body%>
</div>
<div id="particles-js">
</div>
<script src="../js/particles.js"></script>
<script src="../js/appCommon.js"></script>
</body>
</html>
