<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stroom &middot; Dracarys</title>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/home.css">
</head>
<body>
    <%-body%>
</body>
</html>