<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" media="screen" href="/css/styleCommon.css">
  <meta charset="UTF-8">
  <title>Stroom | Dracarys</title>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="public/js/room.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="panel" style="display: block;">
    <%-body%>
</div>
<div id="particles-js">
</div>
</body>
</html>
