<!DOCTYPE html>
<html lang="en">
<head>
<script src="/socket.io/socket.io.js"></script>
	<meta charset="UTF-8">
	<title>Stroom &middot; Dracarys</title>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.23.0/es6-shim.min.js"></script>
  <script src="/timesync/timesync.js"></script> 
  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/home.css">
</head>
<body>
    <%-body%>
</body>
</html>
