<script type="text/javascript">	
var socket = io();
socket.on('alertLink', function(msg){
	console.log(msg);
	document.getElementById('link').innerHTML = msg;
});
</script>
<div>
		<center>Room</center>
</div>
<br><br>
<center>
		<br>
		<p> Welcome to the room Copy the link and give it to your friends :) </p><br>
		<p id="link"></p>
</div>
</center>