<html>
	<head>
		<title>
			Stroom | Room
		</title>
	</head>
	<body>
		<div>
			<center>Room</center>
		</div>
		<br><br>
		<center>
				<br>
				<p> Welcome to the room </p>
		</div>
		</center>
	</body>
	<script src="/js/room.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</html>