<script type="text/javascript">	
var socket = io();
var link ="";
socket.on('alertLink', function(msg){
	this.link = msg;
	console.log(msg);
});
</script>
<div>
		<center>Room</center>
</div>
<br><br>
<center>
		<br>
		<p> Welcome to the room Copy the link and give it to your friends :) </p><br>
		<script type="text/javascript">echo(link);</script>
</div>
</center>