<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<style>
		a:link {
			    color: black;
				text-decoration: none;
			
			}

			/* visited link */
			a:visited {
			    color: black;
				text-decoration: none;
			}

			/* mouse over link */
			a:hover {
			    color: blue;
				text-decoration: none;
			}

			/* selected link */
			a:active {  
			    color: #0000FF;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
	<h2><a href = "/">Activity</a></h2><br>
		<% for(var i=0; i<games.length; i++) {%>
		   <a href = "/room/<%= games[i].room %> "><%= games[i].playerA %> vs <%= games[i].playerA %></a>
		<% } %>
	</body>
</html>