<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="./util/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/arena.css"/>
		<title>
			Chess | Arena
		</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<div class = "topper">
			<center>ARENA</center>
		</div>
		<br><br>
		<center>
		<div style = "height:70vh;position:relative;bottom:3vw;">
			<div id = "left">
				<span id = "heading">
					<center> 	<span id = "ldr">LEADERBOARD</span>	</center>
				</span>
				<br>
					<span id = "leftSide">
					</span>
					<span id = "rightSide">
					</span>
			</div>
			<div id = "center">
				<br>
				<span id = "topText"> <%= name %> </span><br><br>
				<span id = "topText"> Score : <%= rating %> </span><br><br>
				<a href  = "/create/friend" style = "color:white;">
						<div class = "buttons">
							Play with a Friend
						</div>
				</a>
				<a href  = "/create/random" style = "color:white;">
					<div class = "buttons">
						Play Randomly
					</div>
				</a>
				<a href  = "/create/bot" style = "color:white;">
					<div class = "buttons">
						Play against Bot
					</div>
				</a>
			</div>
			<div id = "right">
				<span id = "heading">
					<center>	CURRENT ROOMS	</center>
				</span>
				<br>

			</div>
		</div>
		</center>
		<div id = "help">
			<a href = "/help" id ="helplink">Help</a>
		</div>
	<script>
	getLeaderboard();
	getActivity();
	function getLeaderboard() {
		var counter = 1;
		$.ajax({
			type : 'GET',
			url : '/../../leaderboard',
			dataType : 'json',
			success : function(data) {
				for(user in data)
				{
					data[user].name = data[user].name.split(' ');
					data[user].name = data[user].name[0];
					$( "#left" ).append('<div id = "leaderboard" style = "background-image: url(\'/util/images/leaderboard'+counter+'.png\');">'+'<div id = "leaderleft" align = "left"></div><div id = "leadercenter" align = "left">'+data[user].name+'</div>'+'<div id = "leaderright">' +data[user].rating+'</div>'+'</div>');
					counter++;
				}
			}
		})
	}
	function getActivity() {
		$.ajax({
			type : 'GET',
			url : '/../../activity',
			dataType : 'json',
			success : function(data) {
			for(games in data)
			{
				data[games].playerA = data[games].playerA.split(' ');
				data[games].playerA = data[games].playerA[0];
				data[games].playerB = data[games].playerB.split(' ');
				data[games].playerB = data[games].playerB[0];


			//		$( "#right" ).append('<div id = "rooms">'+'<div id = "roomleft" align = "left"></div><div id = "roomcenter" align = "left">'+data[games].playerA+" vs "+data[games].playerB+'</div>'+'<div id = "roomright">' +active+'</div>'+'</div>');	
					if(data[games].active=='active')		
						$( "#right" ).append('<a href = "./room/'+data[games].room+'" style = "color:green"><div id = "rooms">'+'<div id = "roomleft" align = "left"></div><div id = "roomcenter" align = "left">'+data[games].playerA+" vs "+data[games].playerB+'</div>'+'<div id = "roomright">' +'active'+'</div>'+'</div>');	
					else
						$( "#right" ).append('<a href = "./room/'+data[games].room+'" style = "color:white"><div id = "rooms">'+'<div id = "roomleft" align = "left"></div><div id = "roomcenter" align = "left">'+data[games].playerA+" vs "+data[games].playerB+'</div>'+'<div id = "roomright">' +'over'+'</div>'+'</div>');	

				//	if(data[games].active=='false')
				//		$( "#right" ).append('<a href = "./room/'+data[games].room+'" style = "color:white;"><br><br><span id = "leftSide">'+data[games].playerA+'</span><span id = "rightSide">'+data[games].playerB+'</span></a>');
				//	else
				//		$( "#right" ).append('<a href = "./room/'+data[games].room+'" style = "color:green"><br><br><span id = "leftSide" style = "color:green;">'+data[games].playerA+'</span><span id = "rightSide"  style = "color:green;">'+data[games].playerB+'</span></a>');	
				}
			}
		})
	}
	</script>
	</body>
</html>