<head>
	<link rel="stylesheet" type="text/css" href="/css/busy.css"/>
<div id = "mid">
	<center>
		<div id = "base">
			YOU ARE ALREADY PLAYING ANOTHER GAME
		</div><br><br>
		<div id = "base-2">
			lets get you <a href = "/" style = "color:yellow">back</a>
		</div>
	</center>
</div>
</head>