<head>
	<link rel="stylesheet" type="text/css" href="/css/errors.css"/>
<div id = "mid">
	<center>
		<div>
			<img src = "../util/images/404.png" style = "width:60%;">
		</div>
		<div id = "base">
		SEEMS LIKE THERE IS A DISTURBANCE IN THE FORCE
		</div><br><br>
		<div id = "base-2">
			lets get you <a href = "/" style = "color:yellow">back</a>
		</div>
	</center>
</div>
</head>