<head>
	<link rel="stylesheet" type="text/css" href="/css/help.css"/>
	<div id = "mid">
		<div id = "heading">
			<div style = "color:yellow;	font-family: SFDistantGalaxyAlternate;font-size: 5vw;margin-left:2vw;">
				<center>
					Help
				</center>	
			</div>
			<br><br>
			<center>
			<div style = "width:70vw;">
					<div align = "left" style = "color:white;font-size:1.8vw;font-family: Montserrat-Light;margin-left:2vw;">
						Play with A friend
					</div>
					<br>
					<div align = "left" style = "color:white;font-size:1.2vw;font-family: Montserrat-Light;margin-left:2vw;;">
						By clicking on this option, a link will be generated which you can give to your friend and play against each other.
					</div>
					<br>

					<div align = "left" style = "color:white;font-size:1.8vw;font-family: Montserrat-Light;margin-left:2vw;">
						Play Randomly
					</div>
					<br>
					<div align = "left" style = "color:white;font-size:1.2vw;font-family: Montserrat-Light;margin-left:2vw;;">
						By clicking on this option, the server will pair you with a random user against whom you can play chess.
					</div>
					<br>

					<div align = "left" style = "color:white;font-size:1.8vw;font-family: Montserrat-Light;margin-left:2vw;">
						Play against a Bot
					</div>
					<br>
					<div align = "left" style = "color:white;font-size:1.2vw;font-family: Montserrat-Light;margin-left:2vw;;">
						By clicking on this option, you can play against a custom bot designed by the folks at SDSLabs.
					</div>
					<br>
			</div>
		</div>
		</center>
	</div>
</head>