@font-face {
  font-family: "Montserrat-Light";
  src: url(../util/fonts/Montserrat-Light.ot) format("truetype");
}
@font-face {
  font-family: "SFDistantGalaxyAlternate";
  src: url(../util/fonts/SFDistantGalaxyAlternate.ttf) format("truetype");
}
body {
    max-width:100%;
    max-height:100%;
}
#sitetitle {
	color: rgb(123,143,200);
	font-size: 12vw;
	margin-bottom: 10vw;
}
.button {
	height: auto;
	width: 20vw;
	font-size: 2vw;
	border: solid;
	border-color: rgb(123,143,200);
	border-radius: 25px;
	color: rgb(123,143,200);
}
a {
	color: inherit;
	text-decoration: inherit;
}
.button:hover {
	color: white;
	background-color: rgb(123,143,200);
}