<html lang="en">
	<head>
		<meta name="viewport" content="width=460, user-scalable=no" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link href="button.css" rel="stylesheet" type="text/css" />

	</head>
	<body>
	<h1>	CHESS 	</h1>
	<p>Welcome <%= name %></p>

	<br>	
		<a href="https://accounts.sdslabs.co.in/login?redirect=//chess.sdslabs.co.in" class="myButton">Login</a><br>	
		<a href="/create/friend" class="myButton">Play With Friend</a><br>
		<a href="/create/random" class="myButton">Play Randomly</a><br>
	</body>
</html>