<html lang="en">
	<head>
		<meta name="viewport" content="width=460, user-scalable=no" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<h1> Stroom </h1>

	<br>	
		<a href="/create/friend" class="myButton">Create a Room</a><br>
		<a href="/create/random" class="myButton">Join a Room</a><br>
	</body>
</html>