<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<style>
		a:link {
			    color: black;
				text-decoration: none;
			
			}

			/* visited link */
			a:visited {
			    color: black;
				text-decoration: none;
			}

			/* mouse over link */
			a:hover {
			    color: blue;
				text-decoration: none;
			}

			/* selected link */
			a:active {  
			    color: #0000FF;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
	<h2><a href = "/">Leader Board</a></h2><br>
		<% for(var i=0; i<users.length; i++) {%>
		   <a href = "/profile/<%= users[i].username %> "><%= users[i].name %> <%= users[i].rating %></a>
		<% } %>
	</body>
</html>