<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="/util/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="/css/login.css"/>
		<title>
			Chess | Login
		</title>
    <script type="text/Ravascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body bgcolor="white">
	<center>
	<div id = 'stars'>
		<div class = "top">
		</div>
		<div class = "middle" >
			<div class = "left">
				<span style = "float:right">
				<br><br>
					<img src = "../util/images/left_plane.png" style = "height:10vw;float:right;">
				</span>
			</div>
			<div class = "center">
				<center>
					<span class = "heading">CHESS WARS</span><br>
					<div class = "line-container">
						<div class = "line"></div>
					</div>
					<span class = "base">MAY THE CHECKMATE BE WITH YOU</span>
					<div style = "width:100%;height:5vh;">
					</div>
					<a href  = "https://accounts.sdslabs.co.in/register" style = "color:white;">
						<div class = "buttons">
							Sign Up
						</div>
					</a>
					<br><br>
					<a href  = "https://accounts.sdslabs.co.in/login?redirect=https://chess.sdslabs.co.in" style = "color:white;">
						<div class = "buttons">
							Sign In
						</div>
					</a>
					</center>
			</div>
			<div class = "right">
			<br><br>
					<img src = "../util/images/right_plane.png" style = "height:10vw;float:left;">
			</div>
			
		</div>
	</div>
	</body>
</html>
