<head>
	<link rel="stylesheet" type="text/css" href="/css/user.css"/>
<div id = "mid">
	<center>
		<div id = "base">
			Name - <%= name %><br><br>
			Rating - <span id ="rating"><%= rating %></span>
		</div><br><br>
		<div id = "base-2">
			lets get you <a href = "/" style = "color:yellow">back</a>
		</div>
	</center>
</div>
</head>